html {
  box-sizing: border-box;
}

body {
  font-family: Oswald, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  font-family: Oswald;
  color: black;
  font-weight: 300;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;
  width: 416px;
  height: 640px;
  background: url("./images/santorini.jpeg") top center no-repeat;
  background-size: cover;
  padding: 20px;
}

.info-right {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.5);
}

.info-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.5);

  .photog-name {
    padding: 8px;
    background-color: white;
    font-weight: 500;
  }
}

.info-ends {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
}

button {
  display: flex;
  align-items: center;
  padding: 0 5px;
  border: none;
  background-color: white;
}

.imported-svg {
  width: 24px;
  margin: 5px;
}

a {
  text-decoration: none;
}
